body{
  font-size: .12rem;
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: #eee;
}
.header{
    height: .5rem;
  background: #fff;

}
.nav{
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  line-height: .5rem;
  li{
    -webkit-flex: 1;
    font-size: .14rem;
    text-align: center;
  }
  .active{
    color: #617EF6;
    border-bottom:2px solid #617EF6;
  }
}
.content{
  overflow-y: scroll;
  -webkit-flex: 1;

}
.box{
  margin-top: .2rem;
  ul{
    background: #fff;
    li{

        height:.6rem;
        background: red;
      line-height: .6rem;
      text-align: center;
      p{
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;
        span{
          color: #fff;
          font-size: .2rem;
          i{
            font-size: .5rem;
            color: #fff;
          }
        }
      }
    }
  }
}